body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: sans-serif;
}

#game {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#rollBtn {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  padding: 20px 60px;
  font-size: 24px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
